<!DOCTYPE html>
<html>
<head>
    <title>Stats</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Stats</h1>

<p>Blocks: <%= blockchain.getChain().length %></p>
<p>Valid Chain: <%= blockchain.validateChain(2)%></p>



</body>
</html>
