<!DOCTYPE html>
<html>
<head>
    <title>Setup Client</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Setup Client</h1>
<form action="/setup/client" method="post" enctype="multipart/form-data">
    Public Key: <input type="file" name="file" id="file"><br />
    Private Key: <input type="file" name="file" id="file"><br />
    <input type="submit" class="" value="Upload" tabindex="1">
</form>
</body>
</html>
