<!DOCTYPE html>
<html>
<head>
    <title>Setup Master</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Setup Master</h1>
<form action="/setup/master" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <input type="submit" class="" value="Upload" tabindex="1">
</form>
</body>
</html>
