<!DOCTYPE html>
<html>
<head>
    <title>Setup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Setup</h1>
<ul>
    <li><a href="/setup/master">Master</a></li>
    <li><a href="/setup/client">Client</a></li>
</ul>
</body>
</html>
